.slideToRight-enter-active 
  transition: all .3s ease
.slideToRight-leave-active
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
.slideToRight-enter, .slideToRight-leave-to
  transform: translateX(-100%)
  opacity: 0
